# Bank Marketing

### Introduction

In [2]:
#importing the required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
#reading the csvs files and chcking their heads
df1= pd.read_csv('bank/bank.csv', sep=' ', header=None)
df1.head()

                                                   0
0  age;"job";"marital";"education";"default";"bal...
1  30;"unemployed";"married";"primary";"no";1787;...
2  33;"services";"married";"secondary";"no";4789;...
3  35;"management";"single";"tertiary";"no";1350;...
4  30;"management";"married";"tertiary";"no";1476...